:root {
  --cerise-red-100: #ff1054;
  --dark-cerise-red-100: #7a0023;
  --white-100: #fefefe;
  --lighter-gray-100: #cacdd5;
  --gray-100: #a3a6b4;
  --darker-gray-100: #70727e;
  --black-100: #1c1e23;

  --NumberString-border-radius-none: 0rem;
  --NumberString-border-radius-xsmall: 0.2rem;
  --NumberString-border-radius-small: 0.6rem;
  --NumberString-border-radius-medium: 1.3rem;
  --NumberString-border-radius-large: 1.9rem;
  --NumberString-border-radius-xlarge: 2.5rem;
  --NumberString-border-radius-xxlarge: 4.4rem;

  --NumberString-width-xxxsmall: 0.65rem;
  --NumberString-width-xxsmall: 1rem;
  --NumberString-width-xsmall: 1.25rem;
  --NumberString-width-small: 1.6rem;
  --NumberString-width-medium: 2rem;
  --NumberString-width-large: 9.4rem;
  --NumberString-width-xlarge: 4.3rem;
  --NumberString-width-xxlarge: 20.63rem;
  --NumberString-width-xxxlarge: 27rem;

  --NumberString-height-xxxsmall: 0.4rem;
  --NumberString-height-xxsmall: 0.65rem;
  --NumberString-height-xsmall: 1rem;
  --NumberString-height-small: 1.25rem;
  --NumberString-height-medium: 2rem;
  --NumberString-height-large: 4.3rem;
  --NumberString-height-xlarge: 9.48rem;
  --NumberString-height-xxlarge: 27rem;
  --NumberString-height-xxxlarge: 50rem;

  --NumberString-padding-xsmall: 0.13rem;
  --NumberString-padding-small: 0.63rem;
  --NumberString-padding-medium: 0.94rem;
  --NumberString-padding-large: 1.88rem;

  --mobile-display-h1-size-normal: 3.4rem;
  --mobile-display-h1-font-weight-normal: 800;

  --mobile-display-h2-size-normal: 1.5rem;
  --mobile-display-h2-font-weight-normal: 600;

  --mobile-display-h3-normal: 1.3rem;
  --mobile-display-h3-font-weight-normal: 600;

  --mobile-display-h4-size-normal: 1rem;
  --mobile-display-h4-font-weight-normal: 600;

  --mobile-paragraph-size-normal: 1rem;
  --mobile-paragraph-font-weight-normal: 300;
  --mobile-paragraph-font-weight-semibold: 400;

  --mobile-paragraph-size-small: 0.8rem;
  --mobile-paragraph-size-large: 1.5rem;

  --mobile-nav-font-size-normal: 1.125rem;
  --mobile-nav-font-weight-normal: 300;
  --mobile-nav-font-weight-validation: 400;

  --mobile-icon-font-size-normal: 0.75rem;
  --mobile-icon-font-weight-normal: 300;

  --mobile-button-font-size-normal: 1rem;
  --mobile-button-font-weight-light: 300;
  --mobile-button-font-weight-normal: 450;

  --website-display-h1-size-normal: 5rem;
  --website-display-h1-font-weight-normal: 500;
  --website-display-h1-font-weight-bold: 800;

  --website-display-h2-size-small: 3.125rem;
  --website-display-h2-size-normal: 3.75rem;
  --website-display-h2-font-weight-normal: 500;
  --website-display-h2-font-weight-bold: 600;

  --website-display-h3-normal: 2.25rem;
  --website-display-h3-font-weight-normal: 600;

  --website-display-h4-size-small: 1.375rem;
  --website-display-h4-size-normal: 1.56rem;
  --website-display-h4-font-weight-light: 400;
  --website-display-h4-font-weight-normal: 600;

  --website-paragraph-size-normal: 1.125rem;
  --website-paragraph-font-weight-normal: 400;
  --website-paragraph-size-large: 1.56rem;
  --website-paragraph-font-weight-bold: 600;

  --website-nav-font-size-normal: 1.125rem;
  --website-nav-font-weight-normal: 500;
  --website-nav-font-weight-validation: 600;

  --website-icon-font-size-normal: 1.125rem;
  --website-icon-font-weight-normal: 400;

  --website-button-font-size-normal: 1.125rem;

  --website-button-font-weight-normal: 400;
  --website-button-font-weight-bold: 500;

  --primary-bg-color: var(--white-100);
  --secondary-bg-color: var(--cerise-red-100);
  --tertiary-bg-color: var(--black-100);
  --forth-bg-color: var(--lighter-gray-100);
  --primary-typeface-color: var(--black-100);
  --primary-typeface-color-50: var(--lighter-gray-100);
  --secondary-typeface-color: var(--white-100);
  --tertiary-typeface-color: var(--cerise-red-100);
  --forth-typeface-color: var(--gray-100);
  --primary-stroke-color: var(--black-100);
  --secondary-stroke-color: var(--gray-100);
  --tertiary-stroke-color: var(--white-100);

  --mobile-button-width: var(--NumberString-width-xxxsmall);
  --mobile-button-height: var(--NumberString-height-xxxsmall);
  --mobile-button-border-radius: var(--NumberString-border-radius-medium);

  --mobile-checkbox-inside-padding: var(--NumberString-border-radius-xsmall);
  --mobile-checkbox-width: var(--NumberString-width-xxsmall);
  --mobile-checkbox-height: var(--NumberString-height-xsmall);
  --mobile-checkbox-border-radius: var(--NumberString-border-radius-xsmall);

  --mobile-icon-circle-width: var(--NumberString-width-xlarge);
  --mobile-icon-circle-height: var(--NumberString-height-large);

  --mobile-textfield-container-height: var(--NumberString-height-small);
  --mobile-textfield-container-width: var(--NumberString-width-xxlarge);
  --mobile-textfield-container-inside-padding: var(--NumberString-padding-xsmall);

  --mobile-icon-burger-width: var(--NumberString-width-xxxsmall);
  --mobile-icon-burger-height: var(--NumberString-height-xxsmall);

  --mobile-paragraph-textsection-border-radius-none: var(--NumberString-border-radius-none);
  --mobile-paragraph-textsection-border-radius: var(--NumberString-border-radius-small);
}

@font-face {
  font-family: "Campton-ExtraBold";
  src: url(/typeface/header/CamptonExtraBold.otf) format("opentype");
}

@font-face {
  font-family: "Campton-SemiBold";
  src: url(/typeface/header/CamptonSemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Campton-Medium";
  src: url(/typeface/header/CamptonMedium.otf) format("opentype");
}

@font-face {
  font-family: "Rubik-Light";
  src: url(/typeface/paragraph/TitilliumWeb-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url(/typeface/paragraph/TitilliumWeb-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-SemiBold";
  src: url(/typeface/paragraph/TitilliumWeb-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url(/typeface/paragraph/TitilliumWeb-Bold.ttf) format("truetype");
}

* {
  margin: auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-typeface-color);
  font-family: "Rubik-Light";
  font-size: var(--mobile-paragraph-size-normal);
}

h1 {
  font-size: var(--mobile-display-h1-size-normal);
  font-family: "Campton-ExtraBold";
}

h2 {
  font-size: var(--mobile-display-h2-size-normal);
  font-family: "Campton-Bold";
}

h3 {
  font-size: var(--mobile-display-h3-size-normal);
  font-family: "Campton-Medium";
}
