:root {
  --cerise-red-100: #ff1054;
  --dark-cerise-red-100: #7a0023;
  --white-100: #fefefe;
  --lighter-gray-100: #cacdd5;
  --gray-100: #a3a6b4;
  --darker-gray-100: #70727e;
  --black-100: #1c1e23;

  --primary-bg-color: var(--white-100);
  --secondary-bg-color: var(--cerise-red-100);
  --tertiary-bg-color: var(--black-100);
  --forth-bg-color: var(--lighter-gray-100);
  --primary-typeface-color: var(--black-100);
  --primary-typeface-color-50: var(--lighter-gray-100);
  --secondary-typeface-color: var(--white-100);
  --tertiary-typeface-color: var(--cerise-red-100);
  --forth-typeface-color: var(--gray-100);
  --primary-stroke-color: var(--black-100);
  --secondary-stroke-color: var(--gray-100);
  --tertiary-stroke-color: var(--white-100);
}

@font-face {
  font-family: "Campton-ExtraBold";
  src: url(/typeface/header/CamptonExtraBold.otf) format("opentype");
}

@font-face {
  font-family: "Campton-SemiBold";
  src: url(/typeface/header/CamptonSemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Campton-Medium";
  src: url(/typeface/header/CamptonMedium.otf) format("opentype");
}

@font-face {
  font-family: "Rubik-Light";
  src: url(/typeface/paragraph/TitilliumWeb-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url(/typeface/paragraph/TitilliumWeb-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-SemiBold";
  src: url(/typeface/paragraph/TitilliumWeb-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url(/typeface/paragraph/TitilliumWeb-Bold.ttf) format("truetype");
}

* {
  margin: auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-typeface-color);
  font-family: "Rubik-Light";

}

h1 {
  font-size: var(--mobile-display-h1-size-normal);
  font-family: "Campton-ExtraBold";
}

h2 {
  font-size: var(--mobile-display-h2-size-normal);
  font-family: "Campton-Bold";
}

h3 {
  font-size: var(--mobile-display-h3-size-normal);
  font-family: "Campton-Medium";
}
