---
---

<button class="primary">Skriv under</button>
<button class="secondary">Læs mere</button>

<style>
    .primary {
        background-color: var(--cerise-red-100);
        color: var(--secondary-typeface-color);
        width: var(--button-width);
        height: var(--button-height);
        border-radius: var(--button-border);
        margin-bottom: var(--button-margin-bottom);
        border-style: none;
    }

    .secondary {
        stroke: var(--button-stroke);
        color: var(--primary-typeface-color);
        width: var(--button-width);
        height: var(--button-height);
        border-radius: var(--button-border);
        margin-bottom: var(--button-margin-bottom);
        border-style: none;
        background-color: transparent;
        color: var(--gray-100);
    }
    
</style>


