---
---

<button class="primary">Skriv under</button>
<button class="secondary">Læs mere</button>

<style>
    .primary {
        background-color: var(--cerise-red-100);
        color: var(--secondary-typeface-color);
        width: 85px;
        height: 40px;
        border-radius: 20px;
    }

    .secondary {
        stroke: 2px solid var(--lighter-gray-100);
        color: var(--primary-typeface-color);
        width: 85px;
        height: 40px;
        border-radius: 20px;
    }
    
</style>


