---
---

    <img src="./svg/logo.svg"/>
    <section class="parent-grid">
    <section class="times">
    <p>Mail: info@plasticchange.org</p>
    <p>Tlf: +45 42 66 72 46</p>
    <p>Telefonen er åben: mandag-fredag</p>
    <p>Tidsrum: 10:00-15:00</p>
    </section>

<section class="more">
<p>Støt nu</p>
<p>Generelt</p>
<p>Hvad kan du gøre?</p>
<p>Viden</p>
<p>Bank</p>
<p>FaQ</p>
</section>
</section>


<style>
section {
    background-color: var(--white-100);
}
</style>