---
const {numbers, textcontent, subheader} = Astro.props;
import "./button.astro";
import Button from "./button.astro";
---

<section>
    <h1>{numbers}</h1>
    <p>{textcontent}</p>
    <button class="donation"></button>
    <h4>{subheader}</h4>
    <button class="input"></button>
    <div class="button-flex"><Button></Button></div>
       
</section>

<style>
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-bg-color);
    width: var(--form-section-width);
    height: var(--form-section-height);
    border-radius: var(--form-border-radius);
    margin-top: var(--form-margin-top);
}

h1{
    color: var(--cerise-red-100);
    font-size: 3.4rem;
    font-family: "Campton-ExtraBold";
    padding-top: var(--h1-padding-top);
}

h4 {
    margin-top: var(--h4-margin-top);
    margin-left: var(--h4-margin-left);
}

p {
    font-size: var(--paragraph-text-small);
    font-family: "Rubik-Regular";
    color: var(--primary-typeface-color);
}

.button-flex {
    display: flex;
    flex-direction: row;
    gap: var(--button-gap-small);
}

.donation {
    background-color: var(--cerise-red-100);
    border-style: none;
    border-radius: var(--Donation-line-border);
    width: var(--Donation-line-width);
    height: var(--Donation-line-height);
}

.input {
    width: var(--Input-box-width);
    height: var(--Input-box-height);
    border-radius: var(--Input-box-border-radius);
    stroke: var(--Input-box-stroke);
    border-style: none;
    background-color: var(--forth-bg-color); 
}
</style>
