---
const {numbers, textcontent, subheader} = Astro.props;
import "./button.astro";
import Button from "./button.astro";
---

<section>
    <h1>{numbers}</h1>
    <p>{textcontent}</p>
    <button class="donation"></button>
    <h4>{subheader}</h4>
    <button class="input"></button>
    <div class="button-flex"><Button></Button></div>
       
</section>

<style>
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 30rem;
    height: 17rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

h1{
    color: var(--cerise-red-100);
    font-size: 3.4rem;
    font-family: "Campton-ExtraBold";
    padding-top: 1rem;
}

h4 {
    margin-top: 0.3rem;
    margin-left: 2rem;
}

p {
    font-size: 0.9rem;
    font-family: "Rubik-Regular";
}

.button-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.donation {
    background-color: var(--cerise-red-100);
    border-style: none;
    border-radius: 3rem;
    width: 26rem;
    height: 0.8rem;
}

.input {
    width: 26rem;
    height: 1.2rem;
    border-radius: 0.2rem;
    stroke: 1px solid var(--black-100);
    border-style: none;
    background-color: var(--lighter-gray-100); 
}
</style>
