---
---
<section>
    <img class="icon" src="./svg/Icons.svg"/>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
    }

    .icon {
        width: 35rem;
        height: 9rem;
    }
</style>