---
---
<section>
    <img class="icon" src="./svg/Icons.svg"/>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
    }

    .icon {
        width: var(--Icon-circle-width);
        height: var(--Icon-circle-height);
    }
</style>