---
const {logo, nav1, nav2, nav3, nav4} = Astro.props;
---
<section>
   <img src="./svg/logo.svg"/>
    <p>{nav1}</p>
    <p>{nav2}</p>
    <p>{nav3}</p>
    <p>{nav4}</p>
    </section>
</section>



<style>
    img {
        width: 6rem;
        height: 2.5rem;
    }
    section{
        background-color: rgba(28, 30, 35, 0.80);
        color: var(--secondary-typeface-color);
        display: flex;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 10rem;
    }

    p {
        font-size: var(--navigation-font-size);

    }
    
</style>