---
const {logo, nav1, nav2, nav3, nav4} = Astro.props;
---
<section>
   <img src="./svg/logo.svg"/>
    <p>{nav1}</p>
    <p>{nav2}</p>
    <p>{nav3}</p>
    <p>{nav4}</p>
    </section>
</section>



<style>
    img {
        width: var(--Nav-logo-width);
        height: var(--Nav-logo-height);
    }
    section{
        background-color: rgba(28, 30, 35, 0.80);
        color: var(--secondary-typeface-color);
        display: flex;
        align-items: center;
        padding-top: var(--Section-padding-top:);
        padding-bottom: var(--Section-padding-bottom);
        padding-right: var(--Section-padding-right);
    }

    p {
        font-size: var(--navigation-font-size);

    }
    
</style>