---
const { description, Checkbox} = Astro.props;
import "../styles/style.css";
---
<div class="container_flex">
<button class="radio_button">{Checkbox}</button>
<p>{description}</p>
<slot/>
</div>


<style>
    .container_flex {
        display: flex;
        flex-direction: row;
        flex-shrink: 0rem;
        width: 13rem;
        height: 0.937rem;
    }

  .radio_button {
    display: flex;
    flex-shrink: 0rem;
    width: var(--mobile-checkbox-width);
    height: var(--mobile-checkbox-height);
    border-radius: var(--mobile-button-border-radius);
    padding: var(--mobile-checkbox-height) var(--mobile-checkbox-width);
    gap: var(--mobile-checkbox-inside-padding);
    border-top: 1px solid var(--secondary-stroke-color);
    border-left: 1px solid var(--secondary-stroke-color);
    border-right: 1px solid var(--secondary-stroke-color);
    border-bottom: 2px solid var(--secondary-stroke-color);
  }
</style>