---
const { textsection, header } = Astro.props;
import "../styles/style.css";
import "../componments/Button.astro";
import Button from "../componments/Button.astro";

---
<section class="parent_flex">
<h2>{header}</h2>
<p>{textsection}</p>
<Button
variant="primary">Støt Plastic Change
</Button>
<p>Læs mere</p>
<div class="bg_img"></div>

</section>


<style>
    .bg_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0rem;
        width: var(--NumberString-width-xxxlarge);
        height: var(--NumberString-height-xxlarge);
        padding: 3.5rem 1.875rem;
    }

    .parent_flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0rem;
        border-radius: var(--NumberString-border-radius-small);
        background-color: var(--tertiary-bg-color);
        height: 20rem;
        width: 23rem;

}
</style>