---
const {TextSectionInput} = Astro.props;
import "../styles/style.css";
---

<section>
<h3>E-mail</h3>
<div class="Text_Section_Field"></div>
</section>

<style>
    section {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--mobile-textfield-container-inside-padding);
    }

    .Text_Section_Field {
        width: var(--mobile-textfield-container-width);
        height: var(--mobile-textfield-container-height);
        border-top: 1px solid var(--secondary-stroke-color);
        border-left: 1px solid var(--secondary-stroke-color);
        border-right: 1px solid var(--secondary-stroke-color);
        border-bottom: 2px solid var(--secondary-stroke-color);
    }
</style>