---
const {title, textcontent} = Astro.props;
import "./componments/button.astro";
import Button from "./componments/button.astro";
---
<section>
     <h1>{title}</h1>
    <p class="padding">{textcontent}</p>
    <div class="button-flex">
    <Button>
    </Button>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: var(--Section-width);
        margin-bottom: var(--Section-margin-bottom);
        gap: var(--Section-gap);
        background-color:rgba(28, 30, 35, 0.80);
        color: var(--primary-typeface-color-50);
        padding-top: var(--Section-padding-top-medium);
        border-radius: var(--Section-border-radius);
    }

    h1 {
        padding-top: var(--h1-padding-top);
        color: var(--secondary-typeface-color);
    }

    .padding {
        padding-left: var(--Padding-Left);
        padding-right: var(--Padding-Right);
    }

    .button-flex {
        display: flex;
    flex-direction: row;
    padding-bottom: var(--button-padding-bottom);
    gap: var(--button-gap-small);
    }
</style>