---
import "../styles/style.css";
---

<section class="footer_grid">
    <div class="SoMe icons"></div>
    <div class="plastic change logo"></div>
    <p>Mail: info@plasticchange.org</p>
    <p>Tlf: +45 42 66 72 46</p>
    <p>Telefon åben mandag-fredag</p>
    <p>T10:00-15:00</p>
</section>

<section class="learn_more">
<p>Støt nu</p>
<p>Generelt</p>
<p>Hvad kan du gøre?</p>
<p>Viden</p>
<p>Bank</p>
<p>FaQ</p>
</section>


<style>
    :root {
        --footer-width: var(--NumberString-width-xxxlarge);
         --footer-height: var(--NumberString-height-xxlarge);
    }
section {
    background-color: var(--white-100);
}

.footer_grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 2.5rem;
    width: var(--footer-width);
    height: var(--footer-height);
    padding: 1.8rem 1.25rem;
}

.learn_more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 24.3rem;
    border: 0.063rem solid var(--primary-stroke-color);
}

</style>