---
const { header, subheader, textsection } = Astro.props;
import "../styles/style.css";
---
<section class="parent_textsection">
    <h3 class="h3_red">{header}</h3>
            <h4>{subheader}</h4>
</section>

<section class="parent_textsection">
    <h3>{header}</h3>
    <p>{textsection}</p>
</section>

<style>
section {
    background-color: var(--tertiary-bg-color);
}

h4 {
    color: var(--secondary-typeface-color);
}
    .h3_red {
        color: var(--tertiary-typeface-color);
    }

    p {
        color:var(--primary-typeface-color-50);
        font-weight: var(--mobile-paragraph-font-weight-normal);
    }

    .parent_textsection {

        width: 25.4rem;
        padding: 0.3rem;
    }

</style>


