---
import "../styles/style.css";
---
<section>
            <h3 class="h3_red">skriv under</h3>
            <h4>Kræv en ambitiøs global Plastiktraktat nu</h4>
</section>

<section>
            <h3>Plastikforurening truer os alle</h3>
            <p>Plastic Change går forrest i kampen mod plastikforurening af engangsplast. Hos Plastic Change ønsker vi at skabe rammerne for en bedre fremtid, globalt og internationalt.</p>
</section>

<style>
section {
    background-color: var(--tertiary-bg-color);
}

    .h3_red {
        color: var(--tertiary-typeface-color);
    }

    p {
        color:var(--primary-typeface-color-50);
        font-weight: var(--mobile-paragraph-font-weight-normal);
    }

</style>


