---
import "../styles/style.css";
import "./componments/nav.astro";
import Nav from "./componments/nav.astro";
import "./hero.astro";
import Hero from "./hero.astro";
import "./sign.astro";
import Signup from "./sign.astro";
import "./componments/formsign.astro";
import Form from "./componments/formsign.astro";
import "./ourwork.astro";
import Traktat from "./ourwork.astro";
import "./donation.astro";
import Donation from "./donation.astro";
import "./some.astro";
import Some from "./some.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Plastic Change</title>
	</head>
	
	<body>
		<main>
			<Nav
			logo="Plastic Change"
			nav1="Generelt"
			nav2="Hvad kan du gøre?"
			nav3="Støt vores arbejde"
			nav4="Kontakt"></Nav>

			<Hero
			CTAhero="Skriv under"
			title="Kræv en ambitiøs global Plastiktrakt nu"
			subheader="Vi har en historisk chance for at lægge et loft over plastikproduktionen."
			secondary="læs mere"
			primary="Skriv under">
			</Hero>

			<section class="form">
			 <Signup
			 title="Plastikforurening er et grænseløst problem, der påvirker os alle"
			 textcontent="Plastic Change går forrest i kampen mod forurening af engangplastik som hver dag truer vores Jord.  Hos Plastic Change ønsker at skabe rammerne for en renere fremtid både globalt og internationalt."
			 ></Signup>

			 <Form
			 numbers="15.167"
			 textcontent="Har allerede skrevet under på en ny Plastiktraktat - Er den næste dig?"></Form>
			 </section>

			 <Traktat
			 title="Lad os sammen stoppe plastikforurening"
			 textcontent="FN’s medlemslande er blevet enige om at forhandle en bindende aftale for at stoppe plastikforurening. Plastic Change går forrest i Danmark og på internationalt plan sammen med mere end 2.700 NGO’er for at sikre, det mest ambitiøse loft på overproduktionen af engangsplast."
			 subheader="Plastic Change arbejder konkret på, at traktaten skal sikre"></Traktat>

			 <Donation
			 title="Andre støttemuligheder"
			 textcontent="Ved at støtte Plastik Change økonomisk sørger du for at vi kan fortsætte kampen for en mere bæredygtig fremtid. Kun med din støtte kan vi kæmpe for, at politikere tager ansvar for at standse overproduktionen af engangsplastik."></Donation>

			<Some
			title="Følg med på vores Sociale Medier"
			textcontent="Få nyheder om kampen mod plastikforurening hver dag på dine sociale medier og følg Plastic Change! Vi deler løbende opdateringer i kampen mod plastikforurening samt råd til hvad du kan gøre for at hjælpe. Vi glæder os til at dele hverdagen med jer!"
			icon="icon"></Some>
		</main>
	</body>
</html>


<style>
	.form{
		background-color: black;
		height: 35rem;
	}
</style>
