---
import "../styles/style.css";
import "./Hero.astro";
import Header from "./Hero.astro";
import Subheader from "./Hero.astro";
import Textsection from "./Hero.astro";
import "./Signup.astro";
import Header2 from "./Signup.astro";
import SubHeader2 from "./Signup.astro";
import "./componments/TextSection.astro";
import TextSectionInput from "./componments/TextSection.astro";
import "./componments/Button.astro";
import Button from "./componments/Button.astro";
import "./componments/RadioButton.astro"
import "./Footer.astro";
import Footer from "./Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Plastic Change</title>
	</head>
	
	<body>
		<main>
			<header>
				<Header
				header="Skriv under">
				</Header>
				<Subheader
				subheader="Kræv en ambitiøs global Plastiktraktat nu">
				</Subheader>
					<Header
					header="Plastikforurening truer os alle">
				</Header>
				<Textsection
				textsection="Plastic Change går forrest i kampen mod forurening af engangsplast som hver dag truer vores jord. Hos Plastic Change ønsker vi at skabe rammerne for en bedre fremtid globalt og internationalt.">
				</Textsection>
			</header>
			<section class="sign_up">
				<Header2
				header="15.167"></Header2>
				<SubHeader2
				subheader="har allerede skrevet under på en ny Plastiktraktat - Er den næste dig?">
			</SubHeader2>
			<TextSectionInput
			header="E-mail"></TextSectionInput>
			</section>

			<Footer>
			</Footer>
		</main>
	</body>
</html>
