---
import "../styles/style.css";
import  "../componments/RadioButton.astro";
import "..componments/Button.astro";
import "../componments/TextSection.astro";
import TextSectionInput from "../pages/componments/TextSection.astro";
import Button from "../pages/componments/Button.astro";
import Checkbox from "../pages/componments/RadioButton.astro";
---

<section>
    <h1>15.167</h1>
    <h2>Har allerede skrevet under på en ny Plastiktraktat - Er den næste dig?</h2>
    <div>Icon_progressbar</div>
    <TextSectionInput
></TextSectionInput>
<Checkbox
description="Jeg acceptere vilkår og betingelser"
></Checkbox>
<Checkbox
description="Tilmeld mig Plastic Change nyhedsbrev">
</Checkbox>
<Button
    variant="secondary">Skriv under</Button>
    <p>Læs mere</p>
</section>

<style>
    section {
        background-color: var(--primary-bg-color);
    }

    h1 {
        color: var(--tertiary-typeface-color:);
    }

</style>
