---
const {title, textcontent, subheader} = Astro.props;
import Icon from "./componments/icons.astro";
---

<section class="parent">
    <h1>{title}</h1>
    <p>{textcontent}</p>
    <section class="icon_section">
    <h2>{subheader}</h2>
    <Icon>
    </Icon>
    <button>Læs mere</button>
    </section>
</section>
<style>
    .icon_section {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        height: 17rem;
    }

    .parent {
    margin-top: 3rem;
    margin-left: 5rem;
    width: 61rem;
    }



    h2 {
       font-size: var(--subheader-h2-size-regular);
        margin-bottom: 0.4rem;
    }


</style>

