---
const {title, textcontent, subheader} = Astro.props;
import Icon from "./componments/icons.astro";
---

<section class="parent">
    <h1>{title}</h1>
    <p>{textcontent}</p>
</section>
    <section class="icon_section">
    <h2>{subheader}</h2>
    <Icon>
    </Icon>
    </section>
<style>
    .icon_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: var(--Icon-section-margin-top);
        margin-right: auto;
        margin-left: auto;
        height: var(--Height-small);
    }

    .parent {
    margin-top: var(--Icon-section-parent-margin-top);
    margin-left: var(--Icon-section-parent-margin-left);
    }

    h2 {
       font-size: var(--subheader-h2-size-regular);
    margin-bottom: var(--h2-margin-left);
    }
</style>

