---
const { header, subheader, icon } = Astro.props;
import "../styles/style.css";
import  "../componments/RadioButton.astro";
import "..componments/Button.astro";
import "../componments/TextSection.astro";
import TextSectionInput from "./componments/TextSection.astro";
import Button from "./componments/Button.astro";
import Checkbox from "./componments/RadioButton.astro";
---

<section>
    <h1>{header}</h1>
    <h2>{subheader}</h2>
    <div>{icon}</div>
</section>

<style>
    section {
        background-color: var(--primary-bg-color);
    }

    h1 {
        color: var(--tertiary-typeface-color:);
    }

</style>
